<form action="/cars" method="post">
  <label for="makeModel">Add car's model </label>
  <input id="makeModel" name="makemodel" type="text">
  <label for="price">Add car's price </label>
  <input id="price" name="price" type="text">
  <label for="miles">Add car's miles </label>
  <input id="miles" name="miles" type="text">
  <label for="info">Add car's info </label>
  <input id="info" name="info" type="text">
  <button type="submit"> Add </button>
</form>